body,
html{
      height: 100%;
}

.nav-link,
.nav-bar {
    color: white;
}

body {
    background-color: #1b0e16;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color:purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link {
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 0 5px;
}

.introline {
    text-align: center;
    font-size: 34px;
    padding-top: 15%;
    color:pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.portfoliomain {
    margin-top: 20%;
    margin-left: 250px;
    margin-right: 250px;
}

.FCCLogo {
    display: flex;
    text-align: left;
    margin-bottom: 25px;
}

.FCClabel {
    text-align: left;
    color:pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
.FCCBody {
    text-align: left;
    color:pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.Mindfullogo {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    margin-bottom: 25px;
}
.Mindfullable {
    text-align: left;
    color:pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
.MindfulBody {
    color:pink;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.WGEFlogo {
    display: flex;
    text-align: left;
    margin-bottom: 25px;
}
.WGEFLable {
    color:pink;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.WGEFBody {
    color:pink;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 20%;
}
.footer {
    margin-top: 50%;
    text-align: center;
    background-color: plum;
}
.contactbuttons {
  color: white;
  padding: 16px 32px;
  display: inline-block;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
.project-images {
    height: 200px;
    width: auto;
    max-width: 400px;
}
h5 {
    margin-top: unset;
}
.content-wrapper {
    margin: 0 25px;
}

@media only screen and (max-width: 600px) {
    .nav-link-left,
    .nav-link-right,
    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .project-images {
        height: 100px;
        width: 100px;
    }

    .FCCLogo,
    .WGEFlogo, 
    .Mindfullogo {
        align-items: center;
        flex-direction: column;
    }
    .intro {
        font-size: 50%;
    }
    body {
        background-color: black;
    }
}
.aboutMe {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    color:pink;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 12px;
}

.aboutMePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 30%;
}

.myStory {
    margin-top: 40px;
}

.myResume {
    display:flex;
    flex-direction: column;
    font-size: 25px;
    color:cornflowerblue;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
}
